<ion-content>
  <div class="liste-raccourcis">
    <app-carte-raccourci
      icone="person-circle-outline"
      [titre]="titreBoutonProfil"
      [sousTitre]="sousTitreBoutonProfil"
      (clic)="allerProfil()">
    </app-carte-raccourci>

    <app-carte-raccourci
      icone="add-circle-outline"
      titre="Créer un coupon"
      sousTitre="Sélectionner des événements pour composer un pari"
      (clic)="creerCoupon()">
    </app-carte-raccourci>

    <app-carte-raccourci
      icone="football-outline"
      titre="Saisir les scores"
      sousTitre="Renseigner le résultat final de chaque match"
      (clic)="saisirScores()">
    </app-carte-raccourci>
  </div>
</ion-content>