@import './theme/tokens.scss';

/* Core CSS required for Ionic components */
@import '@ionic/angular/css/core.css';

/* Basic Ionic CSS */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Ionic CSS utilities */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/flex-utils.css';

/* Global application styles */

ion-content {
  --background: var(--app-bg-shell);
}

/* La Tab Bar et le bouton Coupon flottant restent au-dessus de toutes les pages et modals */
ion-tab-bar {
  z-index: 25000 !important;
}

.coupon-floating {
  z-index: 30000 !important;
  
}

/* Les modals (sheet modals) passent sous la tab bar */
ion-modal {
  z-index: 20000 !important;
}

//Le backdrop du modal passe aussi sous la tab bar */ 
/*
ion-modal::part(backdrop) {
  z-index: 19999 !important;
}*/


ion-content {
  &::part(scroll) {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  &::part(scroll)::-webkit-scrollbar {
    display: none;
  }
}